[Unit]
Description=Music Player Daemon
After=network.target sound.target

[Service]
Type=notify
ExecStart=/home/shahn/.nix-profile/bin/mpd --systemd

# allow MPD to use real-time priority 40
# LimitRTPRIO=40
# LimitRTTIME=infinity

# for io_uring
# LimitMEMLOCK=64M

[Install]
# WantedBy=multi-user.target
WantedBy=default.target
# Also=mpd.socket
