"*":
  "atom-shell-commands":
    commands: [
      {
        name: "geany"
        command: "make"
        arguments: [
          "-f"
          "geany"
        ]
        options:
          cwd: "{ProjectDir}"
          save: true
        matchs: [
          # "^(?<file>[a-zA-Z0-9\\/\\.-_]+):(?<line>[0-9]+):(?<col>[0-9]+):"
          #{ }"^\\s*(?<file>[a-zA-Z0-9\\/\\.-_]+):(?<line>[0-9]+):"
          "(?<file>[\\/a-zA-Z-\\.]+):(?<line>\\d+):(?<col>\\d+):"
          "(?<file>[\\/a-zA-Z-\\.]+):(?<line>\\d+):"
          #{ }"^\\s*uncaught exception: PatternMatchFail \\((?<file>[a-zA-Z0-9\\/\\.-_]+):\\((?<line>\\d+),(?<col>\\d+)\\)-"
          "-- SYNTAX PROBLEM -* (?<file>[\\/0-9a-zA-Z\\._\\\\:]+)"
          "-- NAMING ERROR -* (?<file>[\\/0-9a-zA-Z\\._\\\\:]+)"
        ]
      }
    ]
  core:
    audioBeep: false
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "475af19e-efeb-b18b-042e-b5a03a88f0ac"
  "vim-mode-plus":
    highlightSearch: true
    useSmartcaseForSearch: true
