"*":
  build:
    matchedErrorFailsBuild: false
    panelOrientation: "Right"
    saveOnBuild: true
    selectTriggers: false
    statusBar: "Disable"
    stealFocus: false
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "atom-shell-commands"
      "metrics"
      "symbols-view"
      "bracket-matcher"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "elm-format":
    binary: "/home/shahn/.local/bin/elm-format"
  "exception-reporting":
    userId: "475af19e-efeb-b18b-042e-b5a03a88f0ac"
  "language-elm":
    autocompleteEnabled: false
  linter:
    errorPanelHeight: 45
  minimap:
    absoluteMode: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-view":
    useEditorGrammarAsCtagsLanguage: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseNew: true
    neverCloseUnsaved: true
