'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'h e': 'recent-files-fuzzy-finder:toggle-finder'
  'h o': 'fuzzy-finder:toggle-file-finder'
  'h n' : 'tree-view:add-file'
  'h t' : 'tree-view:toggle'

  'h h': 'core:save'
  'h a': 'window:save-all'

  'h g': 'custom:next-gean'
  'h f': 'custom:read-gean'

  'h p': 'editor:fold-all'
  'h z': 'editor:unfold-all'

  'h i': 'editor:newline-above'
  'h c': 'pane:show-next-item'
  'h l': 'pane:show-previous-item'
  'h k': 'editor:toggle-line-comments'

  'h v': 'git-time-machine:toggle'
  'ctrl-w': 'core:close'

'body':
  'ctrl-s': 'custom:save-and-exit-insert-mode'
